<h1>Nodewall</h1>


<form action="/" method="POST">
    Name: <input type="text" name="name" />
    <br />

    Message: <input type="text" name="message" />
    <button type="submit" style="visibility:hidden">Submit</button>
</form>

<div id="wall">
    <%- partial('wall.ejs',{locals: {posts: posts}}) %>
</div>

